# Hugo
/public/
/resources/_gen/
/hugo_stats.json
.hugo_build.lock

# Lychee
.lycheecache

# Logs & debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/
coverage.*

# Cache directories
.cache/

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.swp

# Node dependencies
node_modules/

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Environment & build artifacts
.env
*.env.local
*.env.*