<div class="meta">
  <a href="https://twitter.com/{{ site.twitter_username }}">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" aria-labelledby="title-twitter" aria-describedby="desc-twitter" role="img">
      <use xlink:href="{{ "/img/sprite.svg#icon-twitter" | prepend: site.baseurl }}"></use>
    </svg>
  </a>
  <a href="https://github.com/{{ site.username }}">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" aria-labelledby="title-github" aria-describedby="desc-github" role="img">
      <use xlink:href="{{ "/img/sprite.svg#icon-github" | prepend: site.baseurl }}"></use>
    </svg>
  </a>
  <a href="http://www.linkedin.com/in/{{ site.username }}">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" aria-labelledby="title-linkedin" aria-describedby="desc-linkedin" role="img">
      <use xlink:href="{{ "/img/sprite.svg#icon-linkedin" | prepend: site.baseurl }}"></use>
    </svg>
  </a>
  <a href="https://plus.google.com/+AlexDiLiberto?rel=author">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" aria-labelledby="title-google-plus" aria-describedby="desc-google-plus" role="img">
      <use xlink:href="{{ "/img/sprite.svg#icon-google-plus" | prepend: site.baseurl }}"></use>
    </svg>
  </a>
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" aria-labelledby="title-rss" aria-describedby="desc-rss" role="img">
      <use xlink:href="{{ "/img/sprite.svg#icon-rss" | prepend: site.baseurl }}"></use>
    </svg>
  </a>
  <a href="mailto:{{ site.email }}">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" aria-labelledby="title-mail" aria-describedby="desc-mail" role="img">
      <use xlink:href="{{ "/img/sprite.svg#icon-mail" | prepend: site.baseurl }}"></use>
    </svg>
  </a>
</div>
