<div class="meta">
  <a href="https://twitter.com/{{ site.twitter_username }}" aria-label="title-twitter">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" enable-background="new 0 0 512 512" aria-label="title-twitter" aria-describedby="desc-twitter" role="img" alt="">
      <use xlink:href="{{ "/img/sprite.svg#icon-twitter" | prepend: site.baseurl }}"></use>
    </svg>
  </a>
  <a href="https://github.com/{{ site.username }}" aria-label="title-github">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" enable-background="new 0 0 512 512" aria-label="title-github" aria-describedby="desc-github" role="img" alt="">
      <use xlink:href="{{ "/img/sprite.svg#icon-github" | prepend: site.baseurl }}"></use>
    </svg>
  </a>
  <a href="http://www.linkedin.com/in/{{ site.username }}" aria-label="title-linkedin">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" enable-background="new 0 0 512 512" aria-label="title-linkedin" aria-describedby="desc-linkedin" role="img" alt="">
      <use xlink:href="{{ "/img/sprite.svg#icon-linkedin" | prepend: site.baseurl }}"></use>
    </svg>
  </a>
  <a href="https://plus.google.com/+AlexDiLiberto?rel=author" aria-label="title-google-plus">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" enable-background="new 0 0 512 512" aria-label="title-google-plus" aria-describedby="desc-google-plus" role="img" alt="">
      <use xlink:href="{{ "/img/sprite.svg#icon-google-plus" | prepend: site.baseurl }}"></use>
    </svg>
  </a>
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}" aria-label="title-rss">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" enable-background="new 0 0 512 512" aria-label="title-rss" aria-describedby="desc-rss" role="img" alt="">
      <use xlink:href="{{ "/img/sprite.svg#icon-rss" | prepend: site.baseurl }}"></use>
    </svg>
  </a>
  <a href="mailto:{{ site.email }}" aria-label="title-mail">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" enable-background="new 0 0 512 512" aria-label="title-mail" aria-describedby="desc-mail" role="img" alt="">
      <use xlink:href="{{ "/img/sprite.svg#icon-mail" | prepend: site.baseurl }}"></use>
    </svg>
  </a>
</div>
