<!-- Outdated Browser -->
<div id="outdated">
  <h6>Your browser is out-of-date!</h6>
  <p>Update your browser to view this website correctly. <a id="btnUpdate" href="http://outdatedbrowser.com/">Update my browser now</a></p>
  <p id="btnClose"><a href="#">Close</a></p>
</div>

<header role="banner" class="main-header clearfix">
  <h1 class="name">
    <a href="{{ site.baseurl }}/">{{ site.header_title }}</a>
  </h1>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="2000" height="100" class="header-triangles" role="presentation">
    <use xlink:href="{{ "/img/sprite.svg#header-triangles-banner" | prepend: site.baseurl }}"></use>
  </svg>
</header>
