<!-- Outdated Browser -->
<div id="outdated">
  <h6>Your browser is out-of-date!</h6>
  <p>Update your browser to view this website correctly. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now </a></p>
  <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
</div>

<header role="banner" class="main-header">
  <h1 class="name">
    <a href="{{ site.baseurl }}/">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="244px" height="35px" viewBox="0 0 244 35" enable-background="new 0 0 244 35" aria-labelledby="title-site-logo" aria-describedby="desc-site-logo">
        <use xlink:href="{{ "/img/sprite.svg#site-logo" | prepend: site.baseurl }}"></use>
      </svg>
    </a>
  </h1>

  <svg xmlns="http://www.w3.org/2000/svg" width="2000" height="100" class="header-triangles" role="presentation">
    <use xlink:href="{{ "/img/sprite.svg#header-triangles-banner" | prepend: site.baseurl }}"></use>
  </svg>
</header>
