<script src="https://cdn.jsdelivr.net/velocity/1.5/velocity.min.js" integrity="sha384-COqGNbOP704XcnLfMkoDr6RG4TlVFpRcCUSgQiApwgQg4r3tWkN9sZBH0k55jVe8" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>
<script defer src="{{ site.baseurl }}/js/triangles.min.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XGFV27HPQN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XGFV27HPQN');
</script>
