<script src="https://cdn.jsdelivr.net/velocity/1.5/velocity.min.js" integrity="sha384-COqGNbOP704XcnLfMkoDr6RG4TlVFpRcCUSgQiApwgQg4r3tWkN9sZBH0k55jVe8" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>
<script defer src="{{ site.baseurl }}/js/triangles.min.js"></script>
<!-- Google Analytics -->
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-40099364-1', 'auto');
  ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
