/*****************************************************************************/
/*
/* Variables
/*
/*****************************************************************************/

$default-color: #444;
$body-bg-color: #F8F8F8;
$main-max-width: 43.75rem;
$color1: #6051bb; //violet
$color2: #a95d4c; //salmon
$color3: #5dc76f; //limegreen
$color4: #64cd76;
$color5: #6cd37d;
$default-font-size: 16px;
$default-font-size-large: 18px;


/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
 Base styles: opinionated defaults
 ========================================================================== */

html {
  color: $default-color;
  font-size: $default-font-size;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between images, videos, audio and canvas and the bottom of
* their containers: h5bp.com/i/440
*/

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

.browsehappy {
  margin: 0.2em 0;
  background: #6cd37d;
  color: black;
  padding: 1em;
}

.browsehappy a {
  color: #a95d4c;
}


/*****************************************************************************/
/*
/* Base
/*
/*****************************************************************************/

*, *:before, *:after {
  @include box-sizing(border-box)
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 200px; /* constant footer height */
  padding: 0;
  background-color: $body-bg-color;
  font-family: 'Open Sans', sans-serif;
  min-width: 18.75rem; /* 300px */
}
a, a > svg {
  @include transition(.2s);
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
small {
  color: #727272;
}
