/*****************************************************************************/
/*
/* Variables
/*
/*****************************************************************************/

$default-color: #444;
$body-bg-color: #F8F8F8;
$main-max-width: 43.75rem;
$color1: #6051bb; //violet
$color2: #a95d4c; //salmon
$color3: #5dc76f; //limegreen
$color4: #64cd76;
$color5: #6cd37d;
$default-font-size: 16px;
$default-font-size-large: 18px;
