/* Syntax highlighting styles */
.highlight,
pre {
  min-width: 110%;
  max-width: 110%;
  margin-left: -5%;
}

pre {
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 3px;
  overflow: auto;
}

.highlight .lineno {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
