/* ==========================================================================
 Media Queries for Responsive Design.
 These examples override the primary ('mobile first') styles.
 ========================================================================== */

/* 400px */
@media screen and (min-width: 25em) {
  .main-footer > .meta {
    top: 2rem;
    > a > svg {
      width: 3rem;
      height: 3rem;
    }
  }
}

/* 500px */
@media screen and (min-width: 31.25em) {
  main li > a {
    float: left;
  }
  small.date {
    float: right;
    display: inherit;
  }
  .main-footer > .meta > a > svg {
    width: 4rem;
    height: 4rem;
  }
}

/* 752px */
@media screen and (min-width: 47em) {
  html {
    font-size: $default-font-size-large;
  }
  main a.video {
    padding-left: .5rem;
  }
  .main-footer > .copyright {
    bottom: 1rem;
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/* ==========================================================================
 Print styles.
 Inlined to avoid required HTTP connection: h5bp.com/r
 ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
