---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header class="title">
    <h1 itemprop="name" itemprop="headline">{{ page.title }}</h1>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" role="presentation">
      <use xlink:href="{{ "/img/sprite.svg#icon-time" | prepend: site.baseurl }}"></use>
    </svg>
    <time datetime="{{ page.date | date: '%Y-%m-%d' }}" class="meta"><small class="meta" itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%B %-d, %Y' }}</small></time>
  </header>
  <div class="post" itemprop="articleBody">
    {{ content }}
  </div>
  <footer>
    {% include post-share.html %}

    <a href="{{ site.baseurl }}/" class="back-link">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" enable-background="new 0 0 512 512" role="presentation">
        <use xlink:href="{{ "/img/sprite.svg#icon-chevron" | prepend: site.baseurl }}"></use>
      </svg>
      Back
    </a>
    <a href="#" onclick="return false;" class="top-link">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" enable-background="new 0 0 512 512" role="presentation">
        <use xlink:href="{{ "/img/sprite.svg#icon-chevron" | prepend: site.baseurl }}"></use>
      </svg>
      Top
    </a>
  </footer>
  <hr>
  <div class="comments">
    {% include disqus.html %}
  </div>
</article>

<meta itemprop="url" content="{{ page.url | prepend: site.url }}">
<span itemprop="author" itemscope itemtype="http://schema.org/Person">
  <meta itemprop="name" content="{{ site.author }}">
  <meta itemprop="email" content="{{ site.email }}">
</span>
